In [1]:
import pandas as pd

# Moving Up and Down


## asfreq

   Convert TimeSeries to specified frequency.Optionally provide filling method to pad/backfill missing values.

Frequency strings can be found here:
* https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

In [2]:
df = pd.read_csv('data/stock_data.csv', parse_dates=[0], index_col=0)

In [3]:
#df

In [4]:
df.index

DatetimeIndex(['2007-10-29', '2007-10-30', '2007-10-31', '2007-11-01',
               '2007-11-02', '2007-11-05', '2007-11-06', '2007-11-07',
               '2007-11-08', '2007-11-09',
               ...
               '2011-10-03', '2011-10-04', '2011-10-05', '2011-10-06',
               '2011-10-07', '2011-10-10', '2011-10-11', '2011-10-12',
               '2011-10-13', '2011-10-14'],
              dtype='datetime64[ns]', name='date', length=1000, freq=None)

In [5]:
#daily frequency
df.asfreq('12H').index

DatetimeIndex(['2007-10-29 00:00:00', '2007-10-29 12:00:00',
               '2007-10-30 00:00:00', '2007-10-30 12:00:00',
               '2007-10-31 00:00:00', '2007-10-31 12:00:00',
               '2007-11-01 00:00:00', '2007-11-01 12:00:00',
               '2007-11-02 00:00:00', '2007-11-02 12:00:00',
               ...
               '2011-10-09 12:00:00', '2011-10-10 00:00:00',
               '2011-10-10 12:00:00', '2011-10-11 00:00:00',
               '2011-10-11 12:00:00', '2011-10-12 00:00:00',
               '2011-10-12 12:00:00', '2011-10-13 00:00:00',
               '2011-10-13 12:00:00', '2011-10-14 00:00:00'],
              dtype='datetime64[ns]', name='date', length=2893, freq='12H')

In [6]:
df.asfreq?

In [7]:
df = df.asfreq('12H')

In [8]:
df

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 00:00:00,35.22,187.44,34.27,105.72,56.85,34.07,64.51,1508.44,80.84
2007-11-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 00:00:00,35.83,187.87,34.27,106.59,56.95,34.07,65.03,1509.65,80.32
2007-11-02 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-03 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-04 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-05 00:00:00,35.22,186.18,34.15,105.48,56.70,33.77,64.84,1502.17,80.07
2007-11-05 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-06 00:00:00,35.84,191.79,34.14,105.27,56.80,33.47,65.49,1520.27,82.56
2007-11-06 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-07 00:00:00,34.76,186.30,33.20,103.69,56.19,32.65,64.46,1475.62,79.96
2007-11-07 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-08 00:00:00,35.00,175.47,33.15,99.05,56.79,31.94,65.50,1474.77,82.00
2007-11-08 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-09 00:00:00,34.47,165.37,32.61,93.58,57.29,31.01,65.48,1453.70,79.64
2007-11-09 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-10 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-11 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-12 00:00:00,33.33,153.76,32.50,94.70,58.30,30.69,64.67,1439.18,77.52
2007-11-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-09-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-09-30 00:00:00,9.57,381.32,15.22,174.87,63.69,24.89,61.90,1131.42,72.63
2011-09-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-02 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-03 00:00:00,8.90,374.60,14.69,173.29,62.08,24.53,60.29,1099.23,71.15
2011-10-03 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-04 00:00:00,9.12,372.50,14.86,174.74,62.17,25.34,60.45,1123.95,72.83
2011-10-04 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95
2011-10-05 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89
2011-10-06 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56
2011-10-07 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-08 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
2011-10-10 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
2011-10-11 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [9]:
df.loc['2011-10-13 00:00']

AA        10.10
AAPL     408.43
GE        16.22
IBM      186.82
JNJ       64.23
MSFT      27.18
PEP       62.36
SPX     1203.66
XOM       76.37
Name: 2011-10-13 00:00:00, dtype: float64

In [10]:
# Hours to Days --> Downsampling
df.asfreq('D')

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-29  37.41  185.09  34.46  106.78  57.13  31.78  65.67  1540.98  85.51
2007-10-30  36.43  187.00  34.39  106.15  56.99  32.70  65.80  1531.02  83.25
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2007-11-01  35.22  187.44  34.27  105.72  56.85  34.07  64.51  1508.44  80.84
2007-11-02  35.83  187.87  34.27  106.59  56.95  34.07  65.03  1509.65  80.32
2007-11-03    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-04    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-05  35.22  186.18  34.15  105.48  56.70  33.77  64.84  1502.17  80.07
2007-11-06  35.84  191.79  34.14  105.27  56.80  33.47  65.49  1520.27  82.56
2007-11-07  34.76  186.30  33.20  103.69  56.19  32.65  64.46  1475.62  79.96
2007-11-08  35.00  175.47  33.15   99.05  56.79  31.94  65.50  1474.77  82.00
2007-11-09  34.47  165.37  32.61   93.58  57.29  31.01  65.48  1453.70  79.64
2007-11-10    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-11    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-12  33.33  153.76  32.50   94.70  58.30  30.69  64.67  1439.18  77.52
2007-11-13  34.04  169.96  33.31   98.27  59.18  31.79  65.35  1481.05  79.67
2007-11-14  34.25  166.11  33.14   96.56  58.81  31.30  65.99  1470.58  79.15
2007-11-15  33.76  164.30  32.55   96.71  58.80  31.14  65.57  1451.15  77.48
2007-11-16  33.74  166.39  32.84   97.82  59.56  31.44  66.08  1458.74  78.04
2007-11-17    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-18    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-19  32.59  163.95  32.42   95.42  59.42  31.32  66.90  1433.27  77.13
2007-11-20  32.88  168.85  32.32   96.54  59.47  31.90  66.69  1439.70  80.53
2007-11-21  32.68  168.46  31.58   95.42  59.03  31.57  66.87  1416.77  79.82
2007-11-22    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-23  32.66  171.54  32.01   97.13  59.16  31.46  67.29  1440.70  80.96
2007-11-24    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-25    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2007-11-26  32.41  172.54  31.21   95.19  59.60  30.41  66.56  1407.22  78.57
2007-11-27  32.56  174.81  31.82   96.92  59.92  30.49  67.65  1428.23  79.21
...           ...     ...    ...     ...    ...    ...    ...      ...    ...
2011-09-15  11.98  392.96  16.08  170.09  64.40  26.99  63.22  1209.11  74.01
2011-09-16  11.97  400.50  16.33  172.99  64.59  27.12  62.05  1216.01  74.55
2011-09-17    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-09-18    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-09-19  11.58  411.63  16.18  173.13  64.14  27.21  60.56  1204.09  73.70
2011-09-20  11.25  413.45  16.04  174.72  64.22  26.98  60.39  1202.09  74.01
2011-09-21  10.84  412.14  15.38  173.02  63.13  25.99  60.79  1166.76  71.97
2011-09-22  10.11  401.82  15.04  168.62  61.92  25.06  60.92  1129.56  69.24
2011-09-23  10.07  404.30  15.21  169.34  61.59  25.06  60.34  1136.43  69.31
2011-09-24    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-09-25    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-09-26  10.45  403.17  15.57  174.51  62.69  25.44  61.89  1162.95  71.72
2011-09-27  10.48  399.26  15.76  177.71  63.82  25.67  62.43  1175.38  72.91
2011-09-28   9.97  397.01  15.45  177.55  63.25  25.58  61.97  1151.06  72.07
2011-09-29  10.06  390.57  15.86  179.17  63.90  25.45  62.58  1160.40  73.88
2011-09-30   9.57  381.32  15.22  174.87  63.69  24.89  61.90  1131.42  72.63
2011-10-01    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-10-02    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-10-03   8.90  374.60  14.69  173.29  62.08  24.53  60.29  1099.23  71.15
2011-10-04   9.12  372.50  14.86  174.74  62.17  25.34  60.45  1123.95  72.83
2011-10-05   9.37  378.25  15.27  176.85  62.35  25.89  60.29  1144.03  73.95
2011-10-06   9.88  377.37  15.53  181.69  62.81  26.34  60.57  1164.97  73.89
2011-10-07   9.71  369.80  15.50  182.39  63.13  26.25  61.02  1155.46  73.56
2011-10-08    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-10-09    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-10-10  10.09  388.81  16.14  186.62  64.43  26.94  61.87  1194.89  76.28
2011-10-11  10.30  400.29  16.14  185.00  63.96  27.00  60.95  1195.54  76.27
2011-10-12  10.05  402.19  16.40  186.12  64.33  26.96  62.70  1207.25  77.16
2011-10-13  10.10  408.43  16.22  186.82  64.23  27.18  62.36  1203.66  76.37
2011-10-14  10.26  422.00  16.60  190.53  64.72  27.27  62.24  1224.58  78.11

[1447 rows x 9 columns]

In [11]:
# Days to hours --> Upsampling
df.asfreq('8H')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 00:00:00,35.22,187.44,34.27,105.72,56.85,34.07,64.51,1508.44,80.84
2007-11-01 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 00:00:00,35.83,187.87,34.27,106.59,56.95,34.07,65.03,1509.65,80.32
2007-11-02 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-03 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-03 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-04 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-04 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-05 00:00:00,35.22,186.18,34.15,105.48,56.70,33.77,64.84,1502.17,80.07
2007-11-05 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-05 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-06 00:00:00,35.84,191.79,34.14,105.27,56.80,33.47,65.49,1520.27,82.56
2007-11-06 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-07 00:00:00,34.76,186.30,33.20,103.69,56.19,32.65,64.46,1475.62,79.96
2007-11-07 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-07 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-04 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-04 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-05 00:00:00,9.37,378.25,15.27,176.85,62.35,25.89,60.29,1144.03,73.95
2011-10-05 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-05 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-06 00:00:00,9.88,377.37,15.53,181.69,62.81,26.34,60.57,1164.97,73.89
2011-10-06 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-07 00:00:00,9.71,369.80,15.50,182.39,63.13,26.25,61.02,1155.46,73.56
2011-10-07 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-07 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-08 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-08 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
2011-10-10 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
2011-10-11 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [12]:
# ffill propagate last valid observation forward to next valid
# Note: this does not fill NaNs that already were present
df.asfreq('4H', method='ffill')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 04:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 08:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 04:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 08:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 04:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 08:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 00:00:00,35.22,187.44,34.27,105.72,56.85,34.07,64.51,1508.44,80.84
2007-11-01 04:00:00,35.22,187.44,34.27,105.72,56.85,34.07,64.51,1508.44,80.84
2007-11-01 08:00:00,35.22,187.44,34.27,105.72,56.85,34.07,64.51,1508.44,80.84
2007-11-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-01 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 00:00:00,35.83,187.87,34.27,106.59,56.95,34.07,65.03,1509.65,80.32
2007-11-02 04:00:00,35.83,187.87,34.27,106.59,56.95,34.07,65.03,1509.65,80.32
2007-11-02 08:00:00,35.83,187.87,34.27,106.59,56.95,34.07,65.03,1509.65,80.32
2007-11-02 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-11-02 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-09 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-09 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 00:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
2011-10-10 04:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
2011-10-10 08:00:00,10.09,388.81,16.14,186.62,64.43,26.94,61.87,1194.89,76.28
2011-10-10 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-10 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 00:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
2011-10-11 04:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
2011-10-11 08:00:00,10.30,400.29,16.14,185.00,63.96,27.00,60.95,1195.54,76.27
2011-10-11 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 04:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 08:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 04:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 08:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [13]:
# bfill use NEXT valid observation to fill
# Note: this does not fill NaNs that already were present):
df.asfreq('2H',method='bfill')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 14:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-29 16:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-29 18:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-29 20:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-29 22:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 14:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-30 16:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-30 18:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-30 20:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-30 22:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-11 14:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-11 16:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-11 18:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-11 20:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-11 22:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 14:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-12 16:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-12 18:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-12 20:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-12 22:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 14:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 16:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 18:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 20:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-13 22:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [14]:
# To fill with certain default value
# Note: this does not fill NaNs that already were present):
df.asfreq('H',fill_value=9.0)

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 01:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 02:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 03:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 04:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 05:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 06:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 07:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 08:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 09:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 10:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 11:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 13:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 14:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 15:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 16:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 17:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 18:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 19:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 20:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 21:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 22:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-29 23:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 01:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-30 02:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-30 03:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-30 04:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2007-10-30 05:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
...,...,...,...,...,...,...,...,...,...
2011-10-12 19:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-12 20:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-12 21:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-12 22:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-12 23:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 01:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 02:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 03:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 04:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 05:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 06:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 07:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 08:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 09:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 10:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 11:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 13:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 14:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 15:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 16:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 17:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 18:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 19:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 20:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 21:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 22:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-13 23:00:00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00,9.00
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

## resample

Convenience method for frequency conversion and resampling of time
series.

In [15]:
df.resample?

In [16]:
df.resample('2H')

DatetimeIndexResampler [freq=<2 * Hours>, axis=0, closed=left, label=left, convention=start, base=0]

In [17]:
df.resample('2H').sum()

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-10-29 00:00:00,37.41,185.09,34.46,106.78,57.13,31.78,65.67,1540.98,85.51
2007-10-29 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-29 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 00:00:00,36.43,187.00,34.39,106.15,56.99,32.70,65.80,1531.02,83.25
2007-10-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 00:00:00,36.79,189.95,34.97,108.01,57.30,33.84,65.69,1549.38,84.03
2007-10-31 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-10-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2011-10-11 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-11 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 00:00:00,10.05,402.19,16.40,186.12,64.33,26.96,62.70,1207.25,77.16
2011-10-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-12 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 00:00:00,10.10,408.43,16.22,186.82,64.23,27.18,62.36,1203.66,76.37
2011-10-13 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-13 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-10-14 00:00:00,10.26,422.00,16.60,190.53,64.72,27.27,62.24,1224.58,78.11

In [18]:
def get_range(x):
    return x.max() - x.min()

In [19]:
df.resample('M').agg({'mean', 'max', get_range})

               AA                         AAPL                           GE  \
              max get_range       mean     max get_range        mean    max
date
2007-10-31  37.41      0.98  36.876667  189.95      4.86  187.346667  34.97
2007-11-30  35.84      3.43  33.936190  191.79     38.03  174.658095  34.27
2007-12-31  35.17      3.67  33.493000  199.83     20.97  190.505000  32.18
2008-01-31  33.63      6.88  29.547619  194.93     64.92  160.378095  31.53
2008-02-29  36.54      6.26  33.260000  133.75     14.60  125.153000  30.99
2008-03-31  36.16      3.76  34.489500  145.06     25.37  130.823000  32.42
2008-04-30  36.43      4.73  33.671364  175.05     27.91  158.187273  33.23
2008-05-31  41.86      9.27  37.888571  189.96     12.91  184.759524  28.83
2008-06-30  40.10      6.96  36.315714  189.43     21.99  178.485714  26.86
2008-07-31  32.80      3.44  31.400909  179.55     25.15  167.748636  25.64
2008-08-31  30.58      1.44  29.946190  179.32     26.09  171.069524  26.19
2008-09-30  28.75      8.57  25.017619  166.96     61.70  141.243333  25.43
2008-10-31  20.07     11.54  12.460435  111.04     22.30   99.003913  21.71
2008-11-30  11.77      5.22   9.815263  110.99     30.50   93.940526  18.40
2008-12-31  10.77      3.06   9.295455  100.06     15.02   91.543636  16.73
2009-01-31  11.60      4.15   9.187000   94.58     16.38   88.775000  15.42
2009-02-28   8.31      2.63   6.986842  102.51     15.56   94.074211  11.41
2009-03-31   7.94      2.84   6.186818  109.87     26.76   97.505000  10.13
2009-04-30   9.05      1.62   8.420476  125.83     17.14  120.020952  11.76
2009-05-31  10.29      1.83   9.271000  135.81     16.32  128.149000  13.51
2009-06-30  11.98      2.34  10.540455  144.67     10.66  139.528182  12.88
2009-07-31  11.53      2.48  10.094545  163.39     27.99  149.318182  12.56
2009-08-31  13.47      1.63  12.475714  170.05     10.46  166.280476  13.78
2009-09-30  14.22      2.87  12.957143  186.15     20.97  177.786667  16.04
2009-10-31  14.11      2.39  13.392273  205.20     24.34  192.831364  15.88
2009-11-30  13.55      1.29  12.885000  207.00     18.25  200.320000  15.25
2009-12-31  16.10      3.49  14.404091  211.64     22.69  198.954545  15.27
2010-01-31  17.19      4.65  14.940000  215.04     22.98  207.715263  15.97
2010-02-28  13.56      0.82  13.186316  204.62     12.57  198.795789  15.99
2010-03-31  14.31      1.24  13.752609  235.85     27.00  223.410870  17.62
2010-04-30  14.84      1.58  13.979048  270.83     34.86  251.148571  18.62
2010-05-31  12.98      2.03  11.856000  266.35     30.49  251.461500  18.39
2010-06-30  11.60      1.64  10.992273  274.07     30.87  261.145455  15.71
2010-07-31  11.11      1.21  10.653333  264.08     18.50  254.950000  15.55
2010-08-31  11.59      1.66  10.733636  262.98     23.05  251.323182  15.87
2010-09-30  12.12      1.68  11.342381  292.32     41.99  273.850952  16.13
2010-10-31  13.27      1.44  12.662857  318.00     39.36  300.934286  16.73
2010-11-30  13.92      1.05  13.321905  318.62     18.12  311.588095  16.20
2010-12-31  15.30      1.81  14.495455  325.47      9.07  321.485909  17.87
2011-01-31  16.51      0.85  16.159000  348.48     21.76  338.380000  19.79
2011-02-28  17.52      1.14  17.072105  363.13     24.52  351.182632  21.00
2011-03-31  17.59      1.99  16.485217  360.00     29.99  347.490870  20.39
2011-04-30  18.06      1.99  17.069000  353.01     25.55  340.415500  20.29
2011-05-31  17.60      1.65  16.806190  349.57     17.38  341.784762  20.28
2011-06-30  16.17      1.48  15.390000  346.10     30.78  331.081364  18.79
2011-07-31  16.46      1.76  15.648000  403.41     60.15  372.238000  19.12
2011-08-31  14.72      3.51  12.353478  396.75     43.54  376.762609  17.80
2011-09-30  12.49      2.92  11.209524  413.45     39.40  392.493333  16.33
2011-10-31  10.30      1.40   9.778000  422.00     52.20  389.424000  16.60

                                    IBM    ...           MSFT    PEP  \
           get_range       mean     max    ...           mean    max
date                                       ...
2007-10-31      0.58  34.606667  108.01    ...      32.773333  65.80
2007-11-30      3.06  32.814286  106.59    ...      31.787619  68.78
2007-12-31      1.38  31.562500  104.22    ...      32.244500  70.47
2008-01-31      3.07  30.081429   99.99    ...      30.906190  71.25
2008-02-29      2.33  29.448000  109.13    ...      26.292500  64.44
2008-03-31      5.01  30.203500  111.57    ...      26.269500  65.00
2008-04-30      5.78  29.634091  116.57    ...      27.164091  64.94
2008-05-31      2.54  27.615238  122.04    ...      27.031905  62.21
2008-06-30      3.90  24.995238  120.87    ...      26.056667  61.57
2008-07-31      2.46  24.320455  122.31    ...      24.142273  61.36
2008-08-31      1.62  25.291429  122.00    ...      25.453333  63.60
2008-09-30      4.98  23.132381  113.45    ...      24.424762  66.76
2008-10-31      6.00  17.837826  104.02    ...      21.928261  65.31
2008-11-30      7.02  14.945263   88.22    ...      19.232105  53.18
2008-12-31      3.00  15.061818   82.06    ...      18.334545  50.42
2009-01-31      4.56  12.947500   90.06    ...      17.768000  51.42
2009-02-28      3.50   9.651053   92.46    ...      17.135263  49.18
2009-03-31      3.94   8.522727   94.33    ...      15.993182  49.28
2009-04-30      2.31  10.783333   99.36    ...      18.352381  49.00
2009-05-31      1.71  12.460500  102.03    ...      18.996000  48.26
2009-06-30      2.08  11.872727  105.02    ...      21.820000  51.36
2009-07-31      2.52  11.069545  113.21    ...      22.523636  53.53
2009-08-31      1.26  13.145238  115.64    ...      22.826667  55.19
2009-09-30      3.67  14.675238  117.77    ...      24.048571  56.39
2009-10-31      2.44  14.793636  123.79    ...      25.313182  59.05
2009-11-30      1.87  14.676000  124.62    ...      28.002000  59.53
2009-12-31      0.91  14.826364  128.43    ...      29.097727  60.94
2010-01-31      1.31  15.443158  129.95    ...      28.984737  59.58
2010-02-28      1.23  15.228947  124.37    ...      27.323158  59.45
2010-03-31      2.44  16.569565  125.89    ...      28.261304  63.88
2010-04-30      1.12  18.042381  128.68    ...      29.483333  63.71
2010-05-31      3.16  16.520500  129.78    ...      27.210500  63.96
2010-06-30      1.85  14.885909  128.11    ...      24.665000  62.09
2010-07-31      2.21  14.528095  127.86    ...      24.327619  63.25
2010-08-31      1.96  14.882727  129.75    ...      24.035000  64.06
2010-09-30      1.71  15.513810  133.17    ...      23.990000  64.89
2010-10-31      1.22  15.946190  141.15    ...      24.564286  66.07
2010-11-30      0.94  15.633333  144.69    ...      25.628095  63.83
2010-12-31      2.09  17.055455  144.90    ...      27.038636  64.81
2011-01-31      1.95  18.607500  159.95    ...      27.791500  65.39
2011-02-28      1.13  20.549474  164.59    ...      26.889474  63.58
2011-03-31      1.77  19.596522  164.41    ...      25.237391  64.06
2011-04-30      0.75  19.882500  169.28    ...      25.451000  68.66
2011-05-31      1.52  19.493810  171.49    ...      24.820476  70.69
2011-06-30      0.99  18.295000  170.81    ...      24.299091  69.87
2011-07-31      1.38  18.500500  184.41    ...      26.799000  69.96
2011-08-31      2.85  15.878261  179.97    ...      25.317826  64.43
2011-09-30      1.46  15.557143  179.17    ...      25.969048  64.15
2011-10-31      1.91  15.735000  190.53    ...      26.370000  62.70

                                     SPX                           XOM  \
           get_range       mean      max get_range         mean    max
date
2007-10-31      0.13  65.720000  1549.38     18.36  1540.460000  85.51
2007-11-30      4.32  66.222381  1520.27    113.05  1463.385238  82.56
2007-12-31      2.50  69.016000  1515.96     70.06  1479.223500  87.12
2008-01-31     10.90  65.657619  1447.16    136.66  1378.763810  86.04
2008-02-29      4.68  63.143000  1395.42     68.97  1354.872500  82.79
2008-03-31      3.37  63.261500  1352.99     79.62  1316.943000  81.48
2008-04-30      4.06  63.308636  1397.84     69.52  1370.469091  86.93
2008-05-31      1.80  61.259048  1426.63     50.70  1403.217619  87.48
2008-06-30      3.95  59.694762  1404.05    125.67  1341.250952  82.62
2008-07-31      3.01  59.824545  1284.91     70.00  1257.326364  81.73
2008-08-31      3.23  62.607619  1305.32     56.31  1281.472381  75.48
2008-09-30      4.41  64.846190  1277.58    171.16  1217.022857  75.01
2008-10-31     18.59  53.336522  1161.06    312.14   968.800870  73.06
2008-11-30      7.33  49.866842  1005.75    253.31   883.040526  75.64
2008-12-31      2.62  49.329545   913.18     96.97   877.561818  77.75
2009-01-31      5.27  47.889500   934.70    129.48   865.575500  76.35
2009-02-28      4.95  47.017368   869.89    134.80   805.227368  75.51
2009-03-31      6.82  45.621364   832.86    156.33   757.126818  66.95
2009-04-30      4.61  47.149048   873.64     62.56   848.151905  66.20
2009-05-31      2.75  46.788500   929.23     51.71   902.408500  66.96
2009-06-30      2.45  50.287273   946.21     53.17   926.115000  70.01
2009-07-31      2.43  52.522727   987.48    108.35   935.821364  68.78
2009-08-31      2.69  53.413810  1030.98     51.25  1009.724762  67.89
2009-09-30      3.82  54.854762  1071.66     76.91  1044.552381  67.21
2009-10-31      3.98  57.540000  1097.91     72.70  1067.663636  71.26
2009-11-30      2.95  58.321000  1110.63     67.75  1088.069000  73.17
2009-12-31      4.51  58.459091  1127.78     35.84  1110.377727  72.75
2010-01-31      3.02  57.993684  1150.23     76.36  1123.581579  67.26
2010-02-28      3.51  58.095263  1109.17     52.43  1089.160000  64.07
2010-03-31      3.70  62.551739  1174.17     58.46  1152.048696  64.90
2010-04-30      2.34  62.820000  1217.28     39.18  1197.316190  66.73
2010-05-31      5.46  62.013000  1202.26    134.31  1125.062000  65.33
2010-06-30      3.58  60.517727  1117.51     86.80  1083.360909  61.21
2010-07-31      4.02  61.278095  1115.01     92.43  1079.803333  59.06
2010-08-31      2.82  62.759545  1127.79     80.57  1087.282273  60.81
2010-09-30      1.94  64.144762  1148.67     68.38  1122.081905  60.60
2010-10-31      3.72  63.951905  1185.64     48.61  1171.583810  64.97
2010-11-30      1.85  62.803810  1225.85     47.51  1198.888571  70.58
2010-12-31      1.64  63.851818  1259.78     53.71  1241.525455  72.15
2011-01-31      2.54  64.510500  1299.54     29.79  1282.618500  79.28
2011-02-28      2.07  62.402105  1343.01     38.98  1321.117895  86.01
2011-03-31      2.69  62.856957  1330.97     74.09  1304.486522  84.78
2011-04-30      4.56  65.793500  1363.61     58.47  1331.505000  86.91
2011-05-31      2.90  69.359524  1361.22     44.94  1338.310476  85.91
2011-06-30      2.43  68.563182  1320.64     55.22  1287.288636  81.49
2011-07-31      6.61  67.065500  1353.22     60.94  1325.184500  84.66
2011-08-31      4.59  62.885217  1286.94    167.48  1185.305652  79.08
2011-09-30      4.16  61.626190  1216.01     86.45  1173.879048  74.55
2011-10-31      2.41  61.274000  1224.58    125.35  1171.356000  78.11


           get_range       mean
date
2007-10-31      2.26  84.263333
2007-11-30      5.43  79.861429
2007-12-31      6.31  84.232000
2008-01-31     10.43  80.636190
2008-02-29      8.11  78.978500
2008-03-31      5.54  78.919000
2008-04-30      6.79  83.929545
2008-05-31      5.68  83.740952
2008-06-30      4.07  80.827619
2008-07-31      7.42  77.319091
2008-08-31      4.62  73.000952
2008-09-30      6.90  71.524762
2008-10-31     15.09  66.922174
2008-11-30     11.57  69.781053
2008-12-31      8.26  73.011818
2009-01-31      6.12  73.170500
2009-02-28     11.69  69.744737
2009-03-31      8.47  63.268636
2009-04-30      5.34  63.659524
2009-05-31      3.38  65.380500
2009-06-30      5.29  67.673636
2009-07-31      7.21  65.275909
2009-08-31      4.64  65.878571
2009-09-30      2.35  66.080476
2009-10-31      7.93  67.925000
2009-11-30      5.35  70.456000
2009-12-31      7.51  67.775455
2010-01-31      5.61  65.132632
2010-02-28      2.15  62.924211
2010-03-31      1.92  64.142174
2010-04-30      1.88  65.895714
2010-05-31      7.82  61.044000
2010-06-30      5.88  58.866818
2010-07-31      4.21  57.171905
2010-08-31      3.70  58.885909
2010-09-30      1.47  59.808571
2010-10-31      4.24  63.524762
2010-11-30      5.20  68.366667
2010-12-31      2.19  71.055455
2011-01-31      6.02  76.010500
2011-02-28      4.46  83.010000
2011-03-31      6.43  82.152609
2011-04-30      4.82  84.299000
2011-05-31      6.20  81.729048
2011-06-30      5.21  79.365909
2011-07-31      5.39  82.196500
2011-08-31     11.05  73.058696
2011-09-30      5.31  72.399524
2011-10-31      6.96  74.957000

[49 rows x 27 columns]

## fillna

Fill NA/NaN values using the specified method

In [20]:
df1 = df.asfreq('6M')

In [21]:
df1

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2008-04-30  32.65  173.95  28.28  113.10  59.74  26.41  61.70  1385.59  85.71
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2009-04-30   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2009-10-31    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2010-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2010-10-31    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN
2011-04-30    NaN     NaN    NaN     NaN    NaN    NaN    NaN      NaN    NaN

In [22]:
df1.fillna?

In [23]:
df1.fillna(method='ffill', inplace=True)

In [24]:
df1

               AA    AAPL     GE     IBM    JNJ   MSFT    PEP      SPX    XOM
date
2007-10-31  36.79  189.95  34.97  108.01  57.30  33.84  65.69  1549.38  84.03
2008-04-30  32.65  173.95  28.28  113.10  59.74  26.41  61.70  1385.59  85.71
2008-10-31  10.85  107.59  17.29   87.81  55.37  20.84  51.97   968.75  68.92
2009-04-30   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2009-10-31   8.87  125.83  11.76   98.56  48.05  19.16  46.12   872.81  62.66
2010-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2010-10-31  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26
2011-04-30  13.26  261.09  18.01  125.53  60.95  29.50  62.32  1186.69  65.26

## reindex

 Change Series to new index with optional filling logic

In [25]:
df2 = df.resample('Y').mean()

In [26]:
df2

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
date,,,,,,,,,
2007-12-31,33.935227,182.726364,32.367500,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-12-31,26.866364,141.979012,24.344071,103.567866,58.181383,24.760593,59.651581,1220.042055,76.525968
2009-12-31,10.603690,146.814127,12.458730,105.009881,53.496944,21.885397,51.724405,948.046389,67.124960
2010-12-31,12.642262,259.842460,15.862500,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-31,15.024472,356.526834,18.301910,166.188844,62.585779,25.825930,64.808693,1276.093015,79.042663

In [27]:
date_index = pd.date_range('20071201', end='20111231', freq='7D')

In [28]:
date_index

DatetimeIndex(['2007-12-01', '2007-12-08', '2007-12-15', '2007-12-22',
               '2007-12-29', '2008-01-05', '2008-01-12', '2008-01-19',
               '2008-01-26', '2008-02-02',
               ...
               '2011-10-29', '2011-11-05', '2011-11-12', '2011-11-19',
               '2011-11-26', '2011-12-03', '2011-12-10', '2011-12-17',
               '2011-12-24', '2011-12-31'],
              dtype='datetime64[ns]', length=214, freq='7D')

In [29]:
df2 = df2.reindex(date_index,method='ffill')

In [30]:
df2

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-05,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-12,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-19,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-26,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-02,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-09,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-16,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-23,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-01,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-08,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-15,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-22,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-29,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-05,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-12,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-19,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-26,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-03,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-10,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-17,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-24,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-31,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-07,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-14,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-21,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
...,...,...,...,...,...,...,...,...,...
2011-06-11,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-06-18,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-06-25,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-02,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-09,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-16,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-23,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-30,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-06,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-13,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-20,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-27,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-01,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-08,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-15,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-22,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-29,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-05,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-12,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-19,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-26,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-31,15.024472,356.526834,18.30191,166.188844,62.585779,25.825930,64.808693,1276.093015,79.042663

In [31]:
df2.fillna(method='ffill', inplace=True)

In [32]:
df2

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008-01-05,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-12,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-19,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-01-26,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-02,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-09,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-16,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-02-23,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-01,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-08,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-15,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-22,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-03-29,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-05,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-12,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-19,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-04-26,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-03,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-10,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-17,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-24,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-05-31,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-07,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-14,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
2008-06-21,33.935227,182.726364,32.36750,100.510455,59.049091,32.062500,67.457955,1475.839545,82.148182
...,...,...,...,...,...,...,...,...,...
2011-06-11,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-06-18,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-06-25,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-02,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-09,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-16,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-23,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-07-30,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-06,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-13,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-20,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-08-27,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-09-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-01,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-08,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-15,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-22,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-10-29,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-05,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-12,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-19,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-11-26,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-03,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-10,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-17,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-24,12.642262,259.842460,15.86250,129.078611,59.424802,26.262619,61.970040,1139.965516,63.067976
2011-12-31,15.024472,356.526834,18.30191,166.188844,62.585779,25.825930,64.808693,1276.093015,79.042663

In [33]:
df2.fillna(value='0')

,AA,AAPL,GE,IBM,JNJ,MSFT,PEP,SPX,XOM
2007-12-01,0,0,0,0,0,0,0,0,0
2007-12-08,0,0,0,0,0,0,0,0,0
2007-12-15,0,0,0,0,0,0,0,0,0
2007-12-22,0,0,0,0,0,0,0,0,0
2007-12-29,0,0,0,0,0,0,0,0,0
2008-01-05,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-01-12,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-01-19,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-01-26,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-02-02,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-02-09,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-02-16,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-02-23,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-03-01,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-03-08,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-03-15,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-03-22,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-03-29,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-04-05,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-04-12,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-04-19,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-04-26,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-05-03,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-05-10,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-05-17,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-05-24,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-05-31,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-06-07,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-06-14,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
2008-06-21,33.9352,182.726,32.3675,100.51,59.0491,32.0625,67.458,1475.84,82.1482
...,...,...,...,...,...,...,...,...,...
2011-06-11,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-06-18,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-06-25,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-07-02,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-07-09,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-07-16,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-07-23,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-07-30,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-08-06,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-08-13,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-08-20,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-08-27,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-09-03,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-09-10,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-09-17,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-09-24,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-10-01,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-10-08,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-10-15,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-10-22,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-10-29,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-11-05,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-11-12,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-11-19,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-11-26,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-03,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-10,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-17,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-24,12.6423,259.842,15.8625,129.079,59.4248,26.2626,61.97,1139.97,63.068
2011-12-31,15.0245,356.527,18.3019,166.189,62.5858,25.8259,64.8087,1276.09,79.0427