In [ ]:
import pandas as pd
import numpy as np

import datetime

## datetime

In [ ]:
pd.datetime?

In [ ]:
pd.datetime(2018, 12, 13)

In [ ]:
d1 = pd.datetime(2018, 12, 13)

In [ ]:
type(d1)

In [ ]:
d1.month

## Timestamp

In [ ]:
pd.Timestamp?

In [ ]:
pd.Timestamp('2018 12 13')

In [ ]:
t1 = pd.Timestamp('2018 12 13')

In [ ]:
type(t1)

In [ ]:
dir(t1)

In [ ]:
pd.Timestamp('20181213 11:12:12.000000')

In [ ]:
pd.to_datetime('1 7 2018')

In [ ]:
index_list = [pd.Timestamp('20181213 11:12:11'), pd.Timestamp('20181213 11:12:12'), pd.Timestamp('20181213 11:12:13')]

In [ ]:
index_list

In [ ]:
pd.DataFrame(data=np.arange(3), index=index_list, columns=['range'])

## Date range

In [ ]:
pd.date_range?

In [ ]:
pd.date_range(start='20181201', freq='D', periods=30)

In [ ]:
pd.date_range(start='20181201', end='20281231', freq='M')

http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [ ]:
pd.DataFrame(data=np.random.randint(0, 100, 300), 
             index=pd.date_range('20181201', freq='H', periods=300, name='date'), 
             columns=['values'])

## Period

In [ ]:
pd.Period?

In [ ]:
pd.Period('2018 12')

In [ ]:
pd.Period('2018 12 12')

In [ ]:
pd.period_range?

In [ ]:
pd.period_range(start='2018 01', freq='H', periods=100)

In [ ]:
pd.DataFrame(data=np.arange(500), 
            index=pd.period_range(start='2018 01', freq='H', periods=500, name='period'),
            columns=['value'])

## Time Delta

In [ ]:
pd.Timedelta?

In [ ]:
pd.Timedelta('20m')

In [ ]:
pd.Timedelta('1')

In [ ]:
pd.Timestamp('2018 01') + pd.Timedelta('17 m')

## Time Zones

In [ ]:
from pytz import common_timezones

In [ ]:
common_timezones

In [ ]:
[x for x in common_timezones if 'Asia' in x and 'Kolkata' in x]

In [ ]:
t1 = pd.Timestamp('2018 12 01', tz='UTC')

In [ ]:
t1

In [ ]:
t1.tz_convert('Asia/Kolkata')